.container-fluid {
  padding-top: 1%;
}

.row {
  margin-left: 12%;
}

h2 {
  padding-top: 8%;
  text-align: center;
}

h1 {
  font-size: 350%;
  text-align: center;
}

p {
  padding-top: 5%;
  font-size: 120%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

.self {
  max-width: 50%;
  height: auto;
}
