<div class="container">
  <div class="row">
    <div class="col">
      <img class="self" src="../../../assets/self.jpg">
    </div>

    <div class="col">
      <h3>About Me</h3>
      <hr>
      <p>
        I'm currently a Computer Science (Co-op) student at the University of Manitoba expecting to graduate in August 2020.
        My areas of specialization are Software Engineering and Human-Computer Interaction.
        So far, I have completed a summer research term, a research-based honour project, as well as three work terms.
        Outside the classroom, I am the event coordinator of our university’s CS club devClub and help organize various club events including the largest hackathon in Manitoba.
      </p>
    </div>
  </div>
</div>
