<div class="container">
  <div class="row">
    <div class="col-6 intro-words">
      <h2>Hello, I am</h2>
      <h1>Jason Xu</h1>
      <p>
        I'm a Computer Science graduate from the University of Manitoba.
        My areas of specialization are Software Engineering and Human-Computer Interaction.
        Outside the classroom, I was the event coordinator of our university’s CS club devClub and help organize various club events including the largest hackathon in Manitoba.
      </p>
    </div>

    <div class="col-6">
      <img class="self" src="assets/self.jpg">
    </div>
  </div>
</div>
