<div class="container">
  <hr>
  <h2>Experience</h2>
  <div class="row">
    <div class="col-4" style="text-align: center;">
      <div class="title">
        Bold Commerce
      </div>
      January - April 2020
    </div>
    <div class="col-8">
      <div class="title">
        Software Developer Co-op
      </div>
      ·	Implemented responsive user interfaces and enabled front-end REST API functions with React, Redux, and JavaScript.
      <br>
      ·	Worked with eCommerce platform APIs and templating languages for third-party application development in an 11-people Agile Scrum team.
      <br>
      ·	Resolved bugs in JavaScript and PHP to deliver a better user experience.
    </div>
  </div>
  <div class="row">
    <div class="col-4" style="text-align: center;">
      <div class="title">
        Payworks Payroll Serivce
      </div>
      May - December 2019
    </div>
    <div class="col-8">
      <div class="title">
        Systems Developer Co-op
      </div>
      ·	Trained a machine learning model with Azure Custom Vision so an employee’s face can be identified in real time with Azure Face API.
      <br>
      · Created SOAP endpoints to retrieve info from the company internal API.
      <br>
      ·	Implemented responsive UI for Android mobile, tablet using React Native.
    </div>
  </div>
  <div class="row">
    <div class="col-4" style="text-align: center;">
      <div class="title">
        iQmetrix
      </div>
      September 2018 - April 2019
    </div>
    <div class="col-8">
      <div class="title">
        Software Developer Co-op
      </div>
      ·	Translated business requirements from an assigned analyst into technical automated tests to certify the payment service.
      <br>
      ·	Improved the payment service API by adding eCommerce refund, authorization endpoints using C#, SQL and documented them.
      <br>
      ·	Created public-facing REST API endpoints to abstract away the internal payment service implementation and documented them.
    </div>
  </div>
  <div class="row">
    <div class="col-4" style="text-align: center;">
      <div class="title">
        City of Winnipeg
      </div>
      January - April 2018
    </div>
    <div class="col-8">
      <div class="title">
        Analyst Programmer Co-op
      </div>
      ·	Translated business requirements from an assigned analyst into technical automated tests to certify the payment service.
      <br>
      ·	Improved the payment service API by adding eCommerce refund, authorization endpoints using C#, SQL and documented them.
      <br>
      ·	Created public-facing REST API endpoints to abstract away the internal payment service implementation and documented them.
    </div>
  </div>
</div>
