h2 {
  text-align: center;
  padding-bottom: 3%;
}

.row {
  padding-bottom: 3%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.title {
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 1%;
}
